@import url("https://fonts.googleapis.com/css?family=Cormorant");
@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}













body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

._title {
  font-family: "Cormorant", serif;
}

#offer{
  margin-top: -45px;
  margin-bottom: 20px;
  font-size: 30px;
}

.header {
  position: fixed;
  width: 100%;
  height: 6em;
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 8%;
  z-index: 3;
  box-shadow: 3px 2px 3px rgba(136, 136, 136, 0.5);
}
.header > .logo {
  display: inline-block;
  border: 1px solid #121212;
  max-width: 75px;
  min-width: 75px;
  max-height: 75px;
  min-height: 75px;
  box-sizing: border-box;
  text-align: center;
  user-select: none;
  cursor: pointer;
}
.header > .logo > .ws {
  font-size: 2.5em;
  letter-spacing: -0.35em;
  margin-left: -20%;
}
.header > .logo > .whitespace,
.header .living {
  text-transform: uppercase;
  font-size: 0.5em;
  font-weight: 600;
}
.header > .logo > .living {
  letter-spacing: 0.5em;
  margin-left: 8%;
}
.header > .top-nav {
  font-size: 0.9em;
  text-transform: uppercase;
  white-space: nowrap;
}








.header .link {
  text-decoration: none;
  color: #171717;
  margin-left: 1.5em;
  transition: 0.2s;
}
.header .link:hover, .header .link:focus {
  color: #f52b70;
  border-bottom: 1px solid #f52b70;
  padding-bottom: 4px;
}

.menu {
  display: none;
  font-size: 3em;
  cursor: pointer;
  transition: 0.1s;
}
.menu:hover, .menu:focus {
  color: #f52b70;
}






.slideshow {
  position: relative;
  height: 80vh;
  background: #121212;
}
.slideshow .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 18s linear infinite 0s;
}
.slideshow .slide:nth-child(1) {


  background-image: url(../images/leadfree.jpg);
  /*
  
  background-image: url(http://breather.com/blog/content/images/2016/07/1-XrCgJJvyLeH_6MrAlGZh-A.jpeg);*/
}
.slideshow .slide:nth-child(2) {
  background-image: url(../images/sanitizer.jpg);
  animation-delay: 6s;
   /*
  background-image: url(https://static1.squarespace.com/static/52de776ae4b08b5d50310cfa/5892814b9de4bb3d0ebe55b7/5892814c37c581b3913cebd7/1485996375759/7muxabbrhoa-breather.jpg);
  animation-delay: 6s;
   */
}
.slideshow .slide:nth-child(3) {
  background-image: url(../images/pcb.jpg);
  
  animation-delay: 12s;
   /*
  background-image: url(https://breather.imgix.net/locations/p/NYC_Flatiron-I_3_flatiron_1450456286422.jpg);
  animation-delay: 12s; */
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 0.8;
    animation-timing-function: ease-out;
  }
  30% {
    opacity: 0.8;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.intro {
  position: relative;
  background: #e9f2fc;
  color: #575757;
  text-align: center;
  padding: 4% 6% 4%;
  font-size: 150%;
}
.intro .title {
  position: relative;
  z-index: 2;
  max-width: 55ch;
  margin: 0 auto;
  line-height: 1.6;
}
.intro:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2em;
  width: 100%;
  height: 4em;
  background: inherit;
  -webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  transform: skewY(2deg);
  -webkit-backface-visibility: hidden;
  z-index: 1;
}

.main-content {
  position: relative;
  color: #575757;
}
.main-content > .container {
  display: flex;

  background: #fafafa;
}
.main-content > .container > .content-image {
  max-width: 100%;
  min-width: 50%;
  max-height: auto;
  overflow: hidden;
}
.main-content img {
  max-width: 100%;
  max-height: 100%;
}
.main-content .text-container {
  max-width: 50%;
  display: inline-block;
  text-align: center;
  padding: 5%;
  box-sizing: border-box;
  line-height: 2;
}



#building{
  width: 100%;
  margin: auto;
}


/* offering  section */

#offering{
  width: 100%;
  line-height: 1.7;
}

#offering p {
  text-align: left;
}

#offering h2{
  text-decoration: underline 2px solid #f52b6e3a;
  padding-bottom: 5px;
}
#offering a{
  text-decoration: none;
  color: #575757;
}
#offering a:hover{
  text-decoration: underline 1px solid #f52b70;
 color:#f52b70 ;

  transition: 0.3s;
 
}

/* columns */

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
  padding: 7px;
  text-align: left;
  height: 50%; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  
  clear: both;
  display: flexbox;
}


.gallary{
  padding-bottom: 5%;
}



.support-content {
  position: relative;
  text-align: center;
  margin: 0 auto;
  background: #e9f2fc;
  color: #303030;
  padding: 2% 6% 0;
}
.support-content h1 {
  position: relative;
  z-index: 2;
}
.support-content p {
  max-width: 100%;
  margin: inherit;
  line-height: 2;
  padding-bottom: 2em;
}
.support-content img {
  width: 90%;
}
.support-content:before {
  content: "";
  position: absolute;
  left: 0;
  top: -2em;
  width: 100%;
  height: 4em;
  background: inherit; 
  /*
  -webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  transform: skewY(2deg);
  -webkit-backface-visibility: hidden;
  */

  z-index: 1;
}

.newsletter {
  position: relative;
  background: #fafafa;
  color: #575757;
  text-align: center;
  padding: 6% 20% 8%;
}
.newsletter > .title,
.newsletter p {
  position: relative;
  z-index: 2;
}
.newsletter p {
  line-height: 2;
}
.newsletter > .email-input {
  box-sizing: border-box;
  height: 1.8em;
  padding-left: 0.5em;
  border: solid 1px #121212;
  background: transparent;
}
.newsletter > .button {
  background: #121212;
  color: #fafafa;
  border: none;
  height: 1.8em;
  width: 1.8em;
  margin-left: -2em;
  cursor: pointer;
  transition: 0.2s;
}
.newsletter > .button:hover, .newsletter > .button:focus {
  background: #f4135f;
}
.newsletter:before {
  content: "";
  position: absolute;
  left: 0;
  top: -2em;
  width: 100%;
  height: 4em;
  background: inherit;
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-2deg);
  -webkit-backface-visibility: hidden;
  z-index: 1;
}

.footer {
  background: #121212;
  color: #fafafa;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 4% 10% 2%;
  line-height: 1.8;
  font-size: 0.9em;
}
.footer > .footer-meta {
  max-width: 45ch;
}
.footer > .list-container {
  display: flex;
  flex-wrap: wrap;
}
.footer > .list-container > .footer-list {
  display: flex;
  flex-direction: column;
  margin: 1em;
}
.footer .list-title {
  font-weight: 600;
  white-space: nowrap;
}
.footer a {
  text-decoration: none;
  color: #fafafa;
  transition: 0.2s;
}
.footer a:hover, .footer a:focus {
  color: #f4135f;
}

.bottom {
  background: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 10%;
}
.bottom > .trademark {
  color: #fafafa;
  font-size: 0.8em;
}
.bottom > .social-links {
  display: flex;
}
.bottom > .social-links .icons {
  background: #fafafa;
  box-sizing: border-box;
  margin: 0 0.5em;
  width: 30px;
  height: 1.5em;
  border-radius: 50%;
  padding: 6%;
  transition: 0.2s;
  
}
.icons i {
  font-size: 40px;
  color: white;
  
}

.icons i:hover {
  color: #f4135f;
 
  transition: 0.5s ease-in-out;
  
}

.bottom > .social-links .icons:hover, .bottom > .social-links .icons:focus {
  background: #f4135f;
}
.bottom > .social-links a {
  color: #121212;
  font-size: 1.2em;
  text-align: center;
}


#upBtn {
  display: none;
  position: fixed;
  
  bottom: 50%;
  top: auto;
  right: 30px;
  z-index: 1;
  font-size: 5px;
  opacity: 80%;
  border: none;
  outline: none;
  background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 100% 0% 77% 23% / 100% 19% 81% 0%   ;
  
}

#upBtn:hover {
  background:linear-gradient(red 20% , rgb(35, 226, 35));
  font-size: 7px;
  opacity: 100%;
}



/*! resposive */



@media screen and (max-width: 600px){
  .intro {
    position: relative;
    background: #e9f2fc;
    color: #575757;
    text-align: center;
    padding: 7% 6% 11.5%;
    font-size: 25px;
  }

}

@media screen and (max-width: 980px) {
  .content-image,
  .text-container {
    margin: 0 auto;
    
  }
  .intro {
    
    padding: 7% 6% 11.5%;
    font-size: 25px;
  }

  .main-content > .container{
    display: inherit;
  }

  .container {
    flex-direction: column;
    display: inherit;
  }

  .reverse {
    flex-direction: column;
  }

  .column {
    float: inline-start;
    width: 50%;
    padding: 7px;
    text-align: left;
    height: 50%; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    
    clear: both;
    display: flexbox;
  }
}




@media screen and (max-width: 1100px) {
  .menu {
    display: flex;
    
  }

  .top-nav {
    position: relative;
  }

  .link-container  {
    display: none;
    flex-direction: column;
    line-height: 2;
    width: 19em;
    height: 13em;
    position: absolute;
    background: #e9f2fc;
    right: 0;
    top: 3em;
    box-shadow: 3px 2px 3px rgba(136, 136, 136, 0.5);
    padding-top: 0.6em;
  }
  

    /*! experiment */

show_list {
        height: auto;
        display: none;
    }
}


@media screen and (max-width: 1050px) {
  .footer,
  .bottom {
    text-align: center;
    flex-direction: column;
  }

  .footer-meta {
    margin: 0 auto;
  }

  .list-container {
    justify-content: center;
  }

  .footer-list {
    padding-bottom: 1em;
  }

  .trademark {
    padding-bottom: 1em;
  }
}

@media screen and (max-width:1300px){
  .container {
    flex-direction: column;
    width: 100%;
    
  }

  .main-content .text-container{
    max-width: 100%;
    line-height: 2;
  }

  .reverse {
    flex-direction: row;
  }
}

